<section style="text-align: center;">
    <img itemprop="image" src="/assets/images/mateusz-kimont.png" alt="Mateusz Kimont - Principal Full-Stack Engineer" class="home-profile-img"/><br>
    <div id="title">
        <h1 itemprop="name">{{ page.fullname }}</h1>
        <p itemprop="jobTitle">{{ t.job_title }}</p>
         <div itemprop="seeks" style="display:none" itemscope itemtype="https://schema.org/Demand">
            <p>
                <small itemprop="description">{{ t.job_seeking_status }}</small>
            </p>
        </div>
        
       
        {% if page.layout == "page" %}
            <hr>
                <p>{{ page.header }}</p>
            <hr>
        {% elsif page.lang == 'en' %}
            <blockquote style="margin:1em 0;">"Be careful of extrapolating patterns without proof" - Grant Sanderson</blockquote>
        {% endif %}
         <a class="cv-button" title="PDF in English version" href="/assets/pdfs/CV_Mateusz_Kimont.pdf">
            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M12 15L12 3" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
            <path d="M15 12L12 15L9 12" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
            <path d="M21 15V19C21 19.5304 20.7893 20.0391 20.4142 20.4142C20.0391 20.7893 19.5304 21 19 21H5C4.46957 21 3.96086 20.7893 3.58579 20.4142C3.21071 20.0391 3 19.5304 3 19V15" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>
            Download CV
        </a>
    </div>
</section>