<div style="text-align: center; line-height: 1.8;">
    <p><strong>Email:</strong> <a itemprop="email" href="mailto:admin@yorkman.co.uk">admin@yorkman.co.uk</a></p>
    <p><strong>CV:</strong> <a href="/assets/pdfs/CV_Mateusz_Kimont.pdf" target="_blank">Download PDF</a></p>
    <p>
        <strong>Profiles:</strong>
        <a itemprop="sameAs" href="https://www.linkedin.com/in/mkimont/" target="_blank">LinkedIn</a> |
        <a itemprop="sameAs" href="https://github.com/mkimont" target="_blank">GitHub</a> |
        <a itemprop="sameAs" href="https://stackoverflow.com/users/3381657/fearis" target="_blank">StackOverflow</a> |
        <a itemprop="sameAs" href="https://www.x.com/mkimont/" target="_blank">X (Twitter)</a>
    </p>
</div>
