<section class="home-title-section">
    <div class="profile-img-container">
        <img itemprop="image" src="/assets/images/mateusz-kimont.jpg" title="Hi 👋 Thanks for visiting my website! 🙂 " alt="Mateusz Kimont - Principal Full-Stack Engineer" class="home-profile-img"/>
    </div>
    
    <div id="title">
        <h1 itemprop="name" class="home-name">{% if page.fullname %}{{ page.fullname }}{% else %}{{ t.full_name | default: 'Mateusz Kimont' }}{% endif %}</h1>
        <h3 itemprop="jobTitle" class="home-job-role">{{ t.job_title | default: 'Principal Full-Stack Engineer' }}</h3>
        
        <div class="contact-links">
            <a href="mailto:admin@yorkman.co.uk">Email</a>
            <span style="color: #CBD5E1;">•</span>
            <a href="https://www.linkedin.com/in/mkimont/">LinkedIn</a>
            <span style="color: #CBD5E1;">•</span>
            <a href="https://github.com/mkimont">GitHub</a>
        </div>

        <div itemprop="seeks" class="home-seeks" itemscope itemtype="https://schema.org/Demand">
            <p><small itemprop="description">{{ t.job_seeking_status }}</small></p>
        </div>

        <div class="action-buttons-container">
            {% if t.job_seeking_status %}
            <span class="status-badge" aria-label="{{ t.job_seeking_status }}">{{ t.job_seeking_status }}</span>
            {% endif %}

            <a class="cv-button" title="PDF in English version" href="/assets/pdfs/CV_Mateusz_Kimont.pdf">
                <svg viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M12 15L12 3" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M15 12L12 15L9 12" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M21 15V19C21 19.5304 20.7893 20.0391 20.4142 20.4142C20.0391 20.7893 19.5304 21 19 21H5C4.46957 21 3.96086 20.7893 3.58579 20.4142C3.21071 20.0391 3 19.5304 3 19V15" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
                Download CV
            </a>
        </div>

        {% if page.layout == "page" %}
            <hr>
                <p>{{ page.header }}</p>
            <hr>
        {% elsif page.lang == 'en' %}
            <p class="quote-text">
                "Be careful of <span class="tooltip-raw" title="extend the application of (a method or conclusion) to an unknown situation by assuming that existing trends will continue or similar methods will be applicable.">extrapolating</span> patterns without proof" <br>
                <span class="quote-author">– Grant Sanderson</span>
            </p>
        {% endif %}
    </div>
</section>