body {
    color: $body-color;
    background: $enterprise-bg;
    background-attachment: fixed !important;
    background: $enterprise-bg !important;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: inherit !important;
}

strong,
b {
    font-weight: 700 !important;
    font-family: inherit !important;
}

ul {
    list-style-image: none !important;
    list-style-type: disc;
    /* Fallback to standard bullets */
    padding-left: 1.5em;
}

li {
    margin-bottom: 1em;
}

code {
    color: $body-color;
    background: rgba(0, 0, 0, 0.04);
}

pre {
    background: rgba(0, 0, 0, 0.04);
    border-color: rgba(0, 0, 0, 0.08);

    code {
        color: $body-color;
        text-shadow: none;
    }
}

blockquote {
    border: 0;
}

th,
td {
    border-bottom-color: rgba(0, 0, 0, 0.08);
}

th {
    color: $heading-color;
}

dt {
    color: $body-color;
}

th {
    font-family: inherit !important;
}

dt {
    font-family: inherit !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: $heading-color;
}

h3 {
    color: $heading-color;
}

p,
ul,
ol,
table,
pre,
dl {
    color: $body-color;
}

a {
    color: $enterprise-accent;

    &:hover {
        color: $enterprise-accent-hover;
    }
}

a small {
    color: $body-color;
}

section {
    margin: 0;
    padding: 0;
    max-width: $container-width;
}

footer {
    margin: 2em auto 0;
    max-width: $container-width;
    color: $body-color;
}