@media print {
    body {
        background: #fff;
        color: #000 !important;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    p,
    a {
        color: #000 !important;
    }

    #header,
    footer {
        display: none;
    }
}