.home-article {
    margin-bottom: 2rem;
    position: relative;
}

.header-list {
    font-size: 1.25em;
    margin-top: 0;
    margin-bottom: 0.25rem;
    font-weight: bold;
}

.home-job-description {
    margin-top: 0.5rem;
}

.home-agency-links {
    text-align: center;
    font-weight: bold;
    margin-bottom: 2rem;
}

.home-profile-img {
    width: 150px;
    max-width: 70px;
}

.profile-img-container {
    corner-shape: squircle;
    border-radius: 50%;
    display: inline-flex;
    overflow: hidden;
    margin-bottom: 1rem;
    opacity: 1;
    transition: all .5s;
   
}

@starting-style {
    .profile-img-container {
        opacity: 0;
        corner-shape: notch;
    }
}

.home-skills {
    text-align: center;
}

.home-title-section {
    text-align: center;
    margin-bottom: 2rem;
    &:hover {
        .profile-img-container {
            corner-shape: bevel;
            border-radius: 30%;
        }
    }
}

.home-name {
    margin-bottom: 0.25rem;
    font-size: 2.5rem;
    font-weight: 700;
    color: #1E293B;
}

.home-job-role {
    margin-top: 0;
    margin-bottom: 1rem;
    font-size: 1.25rem;
    font-weight: 500;
    color: #475569;
}

.home-seeks {
    display: none;
}

.home-job-header {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    flex-wrap: wrap;
    gap: 1rem;
    margin-bottom: 0.25rem;

    .header-list {
        margin: 0;
    }
}

.home-job-company {
    font-weight: normal;
    opacity: 0.8;
    @media (max-width: 600px) {
        & {
            display: block;
            font-size: 0.7em;
        }
    }
}

.skills-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.home-skill-tag {
    padding: 5px 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    text-decoration: none;
}

.home-contact-section {
    text-align: center;
    line-height: 1.8;
}

.home-education-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.home-education-item {
    flex: 1;
    min-width: 280px;
}
