<!doctype html>
<html lang="{{ page.lang }}">
{% include head.html %}
<body itemscope itemtype="https://schema.org/Person">
    {%- assign t = site.data.languages[page.lang].index -%}
    {%- assign experience_data = site.data[page.experience_file] -%}
    {%- assign achievements_data = site.data[page.achievements_file] -%}
    {% include header.html %}
    <main class="wrapper">
        {% include section-title.html %}
        <section>
            {{ content }}
        </section>
    </main>
    <footer>
            {% include footer.html %}
    </footer>
</body>
</html>
