---
layout: default
---
{%- assign t = site.data.languages[page.lang].index -%}
{%- assign experience_data = site.data.languages[page.lang].experience -%}
{%- assign achievements_data = site.data.languages[page.lang].achievements -%}

<section class="home-section">
    <h2 class="home-section-title">{{ t.achievements_title }}</h2>
    <ul itemscope itemtype="https://schema.org/ItemList">
        {% for achievement in achievements_data %}
            <li itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem">
                <meta itemprop="position" content="{{ forloop.index }}">
                <h3 itemprop="name">{{ achievement.title }}:</h3>
                <p class="home-section-paragraph" itemprop="description">{{ achievement.description }}</p>
            </li> 
        {% endfor %}
    </ul>
</section>

<section class="home-section">
    <h2 class="home-section-title">{{ t.experience_title }}</h2>
    <div class="posts">
        {% for job in experience_data %}
            <article itemprop="hasOccupation" itemscope itemtype="https://schema.org/Role" class="home-article">
                <p class="employment-data">{{ job.dates_display }}</p>
                <h3 class="home-job-title" itemprop="roleName">{{ job.title }}</h3>
                <p class="home-job-description" itemprop="description">{{ job.description }}</p>
            </article>
        {% endfor %}
    </div>
</section>

<section class="home-section">
    <h2 class="home-section-title">{{ t.agency_title }}</h2>
    <div class="posts">
        <article itemprop="hasOccupation" itemscope itemtype="https://schema.org/Role" class="home-article">
            <p class="employment-data">2014 - 2016 (2 years)</p>
            <h3 class="home-job-title" itemprop="roleName">{{ t.agency_title }}</h3>
            <p class="home-job-description" itemprop="description">{{ t.agency_description }}</p>
        </article>
    </div>

    <!-- <p class="home-agency-links">
        <a href="https://grapple.agency/" target="_blank" itemprop="alumniOf" itemscope itemtype="https://schema.org/Organization"><span itemprop="name">Grapple</span></a> |
        <a href="https://wearemarvellous.com/" target="_blank" itemprop="alumniOf" itemscope itemtype="https://schema.org/Organization"><span itemprop="name">We are Marvellous</span></a> |
        <a href="https://www.xanda.net/" target="_blank" itemprop="alumniOf" itemscope itemtype="https://schema.org/Organization"><span itemprop="name">Xanda</span></a>
    </p> -->
    <!-- <div>
        <h4>{{ t.agency_projects_title }}</h4>
        {% include section-selected-works.html %}
    </div> -->
</section>

<section class="home-section home-skills">
    <h2 class="home-section-title">{{ t.skills_title }}</h2>
    <p class="fsr">
        <a href="/frontend/" itemprop="skills">{{ t.skill_frontend }}</a> |
        <a href="/php/" itemprop="skills">{{ t.skill_php }}</a> |
        <a href="/devops/" itemprop="skills">{{ t.skill_devops }}</a> |
        <a href="/nocode/responsabililties" itemprop="skills">{{ t.skill_responsibilities }}</a> |
        <a href="/nocode/" itemprop="skills">{{ t.skill_soft }}</a>
    </p>
</section>

<section class="home-section">
   <h2 class="home-section-title">{{ t.education_title }}</h2>
    <div class="home-education-container">
        <div class="home-education-item">
            <h3 class="home-job-title">{{ t.awards_subtitle }}</h3>
            <ul>
                <li itemprop="award"><a href="https://www.awwwards.com/sites/zerodegrees-bar-restaurant-microbrewery" target="_blank">{{ t.award_1 }}</a></li>
                <li itemprop="award"><a href="/assets/pdfs/microsoft_specialist_programming_in_html5_with_javascript_and_css3.pdf" target="_blank">{{ t.award_2 }}</a></li>
            </ul>
        </div>
        <div class="home-education-item" itemprop="alumniOf" itemscope itemtype="https://schema.org/EducationalOrganization">
             <h3 class="home-job-title">{{ t.education_subtitle }}</h3>
             <p itemprop="description">{{ t.education_description }}</p>
        </div>
    </div>
</section>

<section class="home-section">
    <h2 class="home-section-title">{{ t.contact_title }}</h2>
    {% include section-contact.html %}
</section>