
@font-face {
  font-family: 'CalibreBold';
  src: url('CalibreBold.eot?#iefix') format('embedded-opentype'),  url('CalibreBold.woff') format('woff'), url('CalibreBold.ttf')  format('truetype'), url('CalibreBold.svg#CalibreBold') format('svg');
  font-weight: normal;
  font-style: normal;
}
